
@{
    ViewBag.Title = "About";
}

!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Css/StyleSheet1.css" />
    <link rel="stylesheet" href="~/Css/SlideShow.css" />
    <script type="text/javascript" src="~/Scripts/menu.js"></script>
</head>
<body class="backgroundView">
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        @Html.ActionLink("Home", "MainPage", "Home", null, null)
        @Html.ActionLink("About", "About", "Home", null, null)
        <a href="#">Services</a>
        @Html.ActionLink("Reservation", "ReservationsPage", "Home", null, null)
        <a href="#">Contact</a>
    </div>

    <div id="main">
        <span style="font-size:40px;cursor:pointer; color:white;" onclick="openNav()">&#9776;</span>
    </div>
    <h3>About</h3>
    <br/>
    <br/>
    <p class="aboutBru">
        Newly opened BRU has the best selection of craft beer in the city.  Supporting over 15 Ontario breweries and premium imports there is something for everyone on our six taps and thirty bottles.  Our 16 item menu of modern pub fare offers classics like gluten free fish and chips, gourmet hamburgers and house smoked meat.  Great for those new to craft and experienced palates alike, come on in for a BRU.
        BRU is open seven days a week for both lunch and dinner.
    </p>
    </body>
</html>

