@model FinalBruResturant.Models.Profile
@{
    ViewBag.Title = "ConfirmationPage";
}

<h2>ConfirmationPage</h2>

<!-- 
    Page to confirm their data was recieved

    Urge them to check their email, will be sent an confirmation link???
    -->

<p>An email has been sent to @Model.Email. Please click the link we sent you to confirm your email.</p>