@{
    ViewBag.Title = "MainPage";
}

<h1>Main Page</h1>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main Page</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body class="text-center">
    @if (ViewBag.currentUser != null)
    {
        <p>You are signed in as @ViewBag.currentUser.FirstName</p>
    }
    else
    {
        <p>You are not signed in. @Html.ActionLink("Login", "LoginPage", "Home", null, null) or @Html.ActionLink("Create New Profile", "CreateProfilePage", "Home", null, null).</p>
    }
</body>
</html>