
@{
    ViewBag.Title = "MainPage";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main Page</title>
    @*<link rel="stylesheet" href="~/css/styles.css" />*@
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Css/StyleSheet1.css" />
    <link rel="stylesheet" href="~/Css/SlideShow.css" />
    <script type="text/javascript" src="~/Scripts/menu.js"></script>
    @*<script type="text/javascript" src="~/Scripts/Slideshow.js"></script>*@
</head>
<body class="backgroundView">
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        @Html.ActionLink("Home", "MainPage", "Home", null, null)
        @Html.ActionLink("About", "About", "Home", null, null)
        <a href="#">Services</a>
        @Html.ActionLink("Reserve", "ReservationsPage", "Home", null, null)
        @Html.ActionLink("Login", "LoginPage", "Home", null, null)
        <a href="#">Contact</a>
    </div>

    <div id="main">
        <span style="font-size:40px;cursor:pointer; color:white;" onclick="openNav()">&#9776;</span>
    </div>

    <div class="wrap">
        <div id="arrow-left" class="arrow"></div>
        <div id="slider">
            <div class="slide slide1">
            </div>
            <div class="slide slide2">
            </div>
            <div class="slide slide3">
            </div>
            <div class="slide slide4">
            </div>
            <div class="slide slide5">
            </div>
        </div>
        <div id="arrow-right" class="arrow"></div>
    </div>
    <script>
        this.$sliderImages = document.querySelectorAll('.slide');
        console.log($sliderImages);
        let arrowLeft = document.querySelector('#arrow-left');
        let arrowRight = document.querySelector('#arrow-right');
        let current = 0;

        function reset() {
            for (let i = 0; i < $sliderImages.length; i++) {
                console.log($sliderImages[i]);
                $sliderImages[i].style.display = 'none';
            }
        }

        function startSlide() {
            reset();
            $sliderImages[0].style.display = 'block';
        }

        function slideLeft() {
            reset();
            $sliderImages[current - 1].style.display = 'block';
            current--
        }

        function slideRight() {
            reset();
            $sliderImages[current + 1].style.display = 'block';
            current++;
        }

        arrowLeft.addEventListener('click', function (){
            if (current === 0) {
                current = $sliderImages.length;
            }
            slideLeft()
        });

        arrowRight.addEventListener('click', function () {
            if (current === $sliderImages.length - 1) {
                current = -1;
            }
            slideRight()
        });

        startSlide();
    </script>
</body>
</html>

